/* en: Place for user defined CSS rules (print media) - this file can safely be
   preserved when updating. See README for details.
   
   de: Ort für benutzerdefinierte CSS-Regeln (print media) - Diese Datei kann
   beim Durchführen von Updates ohne Risiko beibehalten werden. Konsultieren Sie
   die README für Detailinformationen. */
* {
  font-size:98% !important;
}

.approval {
  display:none;
}
h1 {
  border:0;
}
.no-print { 
  display:none;
}

#bodyContent img {
  width:630px;
}

#footer {
    display:none;
}
